@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --color-primary: oklch(0.55 0.15 9);
    --color-secondary: oklch(0.55 0.15 279);
    --color-success: oklch(0.70 0.15 145);
    --color-info: oklch(0.65 0.15 240);
    --color-warning: oklch(0.80 0.15 75);
    --color-error: oklch(0.60 0.18 25);
    --color-faser: oklch(0.65 0.18 173.262);
}

:root {
    --ui-radius: 0.35rem;

    --ui-text-dimmed: oklch(0.85 0.04 279);
    --ui-text-muted: oklch(0.9 0.04 279);
    --ui-text-toned: oklch(0.95 0.04 279);
    --ui-text: oklch(0.98 0.05 279);
    --ui-text-highlighted: oklch(1 0.05 279);
    --ui-text-inverted: oklch(0.99 0.05 279);

    --ui-bg: oklch(0.2 0.05 279);
    --ui-bg-muted: oklch(0.25 0.05 279);
    --ui-bg-elevated: oklch(0.3 0.05 279);
    --ui-bg-accented: oklch(0.35 0.05 279);
    --ui-bg-inverted: oklch(0.9 0.05 279);

    --ui-border: oklch(0.3 0.05 279);
    --ui-border-muted: oklch(0.35 0.07 279);
    --ui-border-accented: oklch(0.45 0.09 279);
    --ui-border-inverted: oklch(0.95 0.05 279);
}

html {
    scrollbar-color: var(--ui-bg-muted) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: var(--ui-bg);
}
::-webkit-scrollbar-thumb {
    background: var(--ui-bg-muted);
    border-radius: var(--ui-radius);
}